<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> {% block title %} {% endblock % } Blog|Short for Weblog %} </title>
    <!-- Bootstrap file:Basic, general version -->
    <link href="bootstrap.min.css" rel="stylesheet">
    <!-- CSS file for customization on top of Bootstrap -->
    <link href="styles.css" rel="stylesheet">
    <!-- Link to Google Fonts. Fonts not saved in Fonts file -->
    <link href="https://fonts.googleapis.com/css?family=Heebo:100" rel="stylesheet">
    {% endblock %}
  </head>
  <body>
    <div class="container-fluid">
      <header class="row">
        <div class="col-xs-12 col-sm-4">
          <img src="static/images/logo.png" id="logo" class="image-responsive center-block" alt="Sarah Caplan Logo">
        </div>
        <div class="col-xs-12 col-sm-8">
          <h1>BLOG, SHORT FOR WEBLOG</h1>
          <h2>Hi, {{username}} | <a href="/logout">Logout</a></h2>
        </div>
      </header>

    </div>
  </body>
</html>