{% extends "base.html" %}

{% block section %}
	<h1>Welcome to Blog: Short for Weblog</h1>
	<h2>Here are our latest posts!</h2>
	<br>
	{% for post in posts %}
		<div class="post">
			<div class="author">{{post.author}}</div>
			<div class= "title">{{post.subject}}</div>
			<div class= "content">{{post.content}}</div>
			<div class= "date">{{post.last_modified}}</div>
		</div>
		<br>
		<a href="/blog/{{post.key().id()}}" class="btn btn-info" role="button">  Go to Post  </a>
		<hr>
		<br>
	{% endfor %}

{% endblock section %}
