<h1>A Blog Post.</h1>
<div <!-- class= "title" -->{{post.subject}}</div>
<div <!-- class= "entry">{{post.content}}</div>
<div <!-- class ="like">Likes: {{likes_count}}</div>
	{% if current_user == post.author %}
		<br>
	{% elif current_user != post.author %}
		{% if liking_user %}
			<a href="/blog/{{post_id}}/votedownpost"> DISLIKE </a>
		{% else %}
			<a href="/blog/{{post_id}}/voteuppost" >LIKE</a>
		{% endif %}
	<br>
	{% endif %}
<hr>
<a href="/blog/{{post_id}}/newcomment">New Comment</a>
{% if current_user == post.author %}
	<a href="/blog/{{post_id}}/editpost">Edit Post</a>
{% endif %}

<div <!-- class="comments" -->
{% for comment in comments %}
	<div class= "author">{{comment.author}}</div>
	<div>{{comment.content}}</div>
	<div class= "date_time"> {{comment.last_modified}}</div>
	{{% if current_user == comment.author %}}
		<a href="/blog/{{comment.post_id}}/{{comment.key().id()}}/editcomment">Edit Comment</a>
	{{% endif %}}
{% endfor %}
</div>

<div>
{% if current_user == post.author %}
	<a href="/blog/{{post_id}}/deletepost"> Delete Post </a>
{% endif %}
</div>


