
	<h1>A Blog Post.</h1>
	<div <!-- class= "title" -->{{post.subject}}</div>
	<div <!-- class= "entry">{{post.content}}</div>
	<div <!-- class ="like">Likes: {{likes_count}}</div>
		{% if current_user == post.author %}
			<br>
		{% elif current_user != post.author %}
			<a href='/voteup/([0-9]+)'>LIKE</a>
		{% endif %}
	<form method ="post" action='/newcomment'>
		<div <!-- class="comments" -->
			<p>Leave a Comment</p>
			<textarea name="content"></textarea>
		{% for comment in comments %}
	<!-- 		<div class= "author">{{comment.author}}</div> -->
			<div>{{comment.content}}</div>
			<div <!-- class= "date_time" -->>{{comment.last_modified}}</div>
		{% endfor %}
		</div>
		<input type="submit">
	</form>


