<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
</head>
<body>
	<h1>Please sign up to use this blog</h1>
		<form method="post">
			<p>Username</p>
			<input type="text" name="username" value="{{username}}"> {{error_username}}
			<p>Password</p>
			<input type="password" name="password"> {{error_password}}
			<p>Verify Password</p>
			<input type="password" name="verify">
			{{error_verify}}
			<p>Email (Optional)</p>
			<input type="email" name="email">
			{{error_email}}
			<br>
			<input type ="submit">
		</form>
</body>
</html>